<footer class="footer py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-4 mx-auto text-center">
          <a href="linkedin.com/in/stephenodon" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            <span class="text-lg fab fa-linkedIn"></span>
          </a>
          <a href="https://github.com/Stephen-O-Donovan/Careless-Response-Detection-Site" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            <span class="text-lg fab fa-github"></span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-8 mx-auto text-center mt-1">
          <p class="mb-0 text-secondary">
            &copy; Stephen O'Donovan
          </p>
        </div>
      </div>
    </div>
  </footer>