<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" >
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Careless Response Detection</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://unpkg.com/htmx.org@1.5.0"></script>
        
    </head>

    <body>

            <br>

        <div class="jumbotron text-center">
            <h2>Careless Response Detection</h2>
            <p>Using machine learning to detect carelessness in survey data and AWS</p>
        </div>

        <div class="container">

            <div class="cr_form">
                <h3>Detecting Carelessness</h3>
            
                <!-- Main Input For Receiving Query to our ML -->
                <div class="input-group mb-3">
                    <form hx-indicator="#spinner" hx-post="{{ url_for('predict')}}" hx-target="#cr-result"  hx-swap="outerHTML">

                        <div class="row">
                            <div class="col-sm-3">
                                <!-- ML Model Select -->
                                <label for="model">Select the model type to use for detection:</label>
                                <select name="model" id="model"  class="form-select form-select-sm" aria-label=".form-select-sm example">
                                    <option value="gbm">Gradient Boosted</option>
                                    <option value="knn">K-Nearest Neighbours</option>
                                    <option value="svm">Support Vector Machines</option>
                                    <option value="nnet">Neural Net</option>
                                </select>
                            </div>

                                <!-- Carelessness Rate Select -->
                            <div class="col-sm-3">
                                <label for="rate">Select the expected % rate of carelessness:</label>
                                <select name="rate" id="rate"  class="form-select form-select-sm" aria-label=".form-select-sm example">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                </select>  
                            </div>          
                                
                                <!-- Carelessness Rate Select -->
                            <div class="col-sm-3">
                                <label for="type">Select what kind of responders will be detected:</label>
                                <select name="type" id="type"  class="form-select form-select-sm" aria-label=".form-select-sm example">
                                    <option value="all">all</option>
                                    <option value="human">human</option>
                                    <option value="computer">computer</option>
                                </select> 
                            </div>
                         

                        <!-- Check known Regular or Careless -->
                        <div class="col-sm-3">
                            <p>Select to check which type</p>
                            <div class="form-check">
                                <input type="radio" name="confirm" value="regular" id="regularButtonCheck" class="form-check-input"> 
                                <label class="form-check-label" for="regularButtonCheck">
                                    Regular
                                </label>
                            </div>
                            

                            <div class="form-check">
                                <input type="radio" name="confirm" value="careless" id="carelessButtonCheck" class="form-check-input" checked> 
                                <label class="form-check-label" for="regularButtonCheck">
                                    Careless
                                </label>
                            </div>
                        </div>
                    </div>  
                
                        <button type="submit" class="btn btn-primary btn-block btn-large" >Check if careless</button>
                    </form>

            </div>
        
            
            <br>
            <br>
            <div class="htmx-indicator spinner-border" id="spinner" role="status">
                <!-- <span class="sr-only">Loading...</span> -->
            </div>
            <p id="cr-result"></p>
            
            

            <!-- this section can be replaced by a child document -->
            {% block body %}


            <p>This is a Flask application.</p>


            {% endblock %}
        </div>
    </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        
    </body>
</html>
